* {
    box-sizing: border-box;
    color: #040a2c;
    font-family: montserrat;
    overflow-x: hidden;
    font-size: 18px;
}

body {
    margin: 0;
}
.rtl{
    direction: rtl;
}

:root {
    --clr0: #ffffff;
    --clr1: #e3e3e3;
    --clr2: #e68e36;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: montserrat-thin;
    src: url("/fonts/Montserrat-Thin.ttf");
}


/* layout */

.main-layout>*:not(.full) {
    margin-left: 20px;
    margin-right: 20px;
}

/* screens */


/* header */
.main-header {
    background-color: var(--clr2);
}

.main-header .main-nav a {
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 0 20px;
    justify-content: center;
    color: var(--clr0);
}

.menu-toggle-btn {
    margin: 10px;
    font-size: 1.5rem;
    background-color: var(--clr2);
    border: none;
}

.flexible-btn {
    background-color: var(--clr2);
    border: 2px solid var(--clr0);
    color: var(--clr0);
    border-radius: 2em;
    height: 40px;
    font-size: 1em;
    display: flex;
    /* padding: 15px; */
    margin: 1em auto;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;

    transition: background-color .4s;
}
.flexible-btn:hover{
    background-color: var(--clr2);
    color: var(--clr0);
}

/* search-area */

.search-area{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: var(--clr1);
    padding: 15px;
    color: white;
    border-radius: 1em;
    border:none;
    margin-top: 10px;
}
.search{
    margin: 20px;
    width: 90%;
    padding: 15px;
    background-color: #ff9021;
    border-radius: 2em;
    border: none;
}
.search::placeholder{
    color: var(--clr0);

}
.filter-tags{
    display: flex;
    background-color: rgb(223, 109, 21);
    text-align: center;
    flex-wrap: wrap;
    /* margin: 15px auto; */
    border-radius: 2em;
    padding: 10px 0;
}
.filter-tags li{
    color: var(--clr0);
    padding: 0 20px;
    cursor: pointer;
}

.filter-tags a {
    /* font-size: 18px; */
    padding: 0 20px;
    color: var(--clr0);
}


/* main gallery */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    align-content: center;
    height: 70%;
    margin: 20px auto;
    background-color: var(--clr1);
    padding: 1rem;
    border-radius: 1rem;
}

.image {
    justify-self: center;
    cursor: pointer;
    border-radius: 16px;

    transition: filter .4s;
}
.uploadImg{
    display: flex;
    opacity: 30%;
    align-items: center;
    justify-content: center;

    transition: opacity .6s;
}
.uploadImg:hover{
    opacity: 100%;
}
.uploadImg input{
    display: none;
    width: 100%;
    height: 100%;
}
.uploadImg img{
    height: 50%;
    width: 50%;   
}

.image:hover {
    filter: brightness(90%);
}

.meme-editor {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.canvas-container {
    width: 100%;
    cursor: grab;
}

.edit-container {
    position: relative;
    border-radius: 1em;
    margin: 50px 0;
    background-color: var(--clr1);
    text-align: center;
    min-width: 250px;
    padding: 1em 0;
}

.edit-tools .text-area {
    display: block;
    text-align: center;
    border: 1px solid black;
    margin: auto;
    margin: 50px auto 10px;
    font-size: 1.5rem;
}

.edit-tools>button {
    font-size: 1.2rem;
}

/* saved-memes-container */

.saved-memes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    min-height: 60vh;
    gap: 10px;
    background-color: lightgray;
    margin: 20px 0;
    padding: 20px;
    border-radius: 1em;
}

/* grid-tools-container */
.grid-tools-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 20px auto;
    width: 90%;
    height: 150px;
    place-items: center;
    background-color: var(--clr0);
    border: .6px solid black;
}

.grid-tools-container>button {
    padding: 10px 15px;
    height: fit-content;
    width: fit-content;
    font-size: 1.5em;
    border: .6px solid black;
}

.grid-tools-container .font-select{
    grid-column: 1/4;
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    outline: none
}

.btn {
    cursor: pointer;
    border: none;
}

.back-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.output-btns {
    display: flex;
    justify-content: space-evenly;
    bottom: 10px;
}
.output-btns > button {
    font-size: 1.5em;
    border: 1px solid black;
}

.sticker-container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
}
.sticker-container > .sticker{
    cursor: pointer;
    font-size: 2rem;

}

/* footer */
footer {
    margin-bottom: 0;
    padding: 45px;
    background-color: var(--clr2);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
footer .logo {
    margin: auto;
    width: 200px;
}
.social-links{
    align-items: center;
    justify-content: center;
    margin: auto;
}
.social-links > li{
    padding: 20px;
}
footer h2{
    color: var(--clr1);
}

/* logo */
.logo {
    padding: 0 20px;
    margin: auto 0;
    height: 30px;
    width: 150px;
    transition: height .3s width .3s;
    cursor: pointer;
}

/* icons */
.icon {
    height: 20px;
    width: 20px;
}

/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

/* Mobile only */
@media (max-width: 830px) {
    .main-screen {
        position: fixed;
        inset: 0;
        background-color: #000;
        background-color: rgb(0 0 0 / 70%);
        cursor: pointer;
        pointer-events: none;
    
        opacity: 0;
    
        transition: opacity .6s;
    }
    
    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }
    
    
    .main-nav ul {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background: rgb(255 255 255 / 80%);
        border-inline-start: 1px solid #ccc;
        min-width: 200px;
        transform: translateX(100%);

        z-index: 1;
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav ul {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    .main-header .main-nav a {
        display: block;
        text-align: center;
        padding: 13px 10px;
        border-bottom: 1px solid #ccc;
        background-color: var(--clr2);

        transition: background-color .6s;
    }

    .main-header .main-nav a:hover {
        background-color: var(--clr-1);
    }

 
    .grid-container{
        min-height: 50vh;
    }

    .saved-memes .image{
        height: 200px;
        width: 200px;
    }
    .hidden {
        display: none;
    }
}

/* Medium */

@media (min-width:800px) {
    .menu-toggle-btn {
        display: none;
    }
    .main-header {
        background-color: var(--clr2);
    }

    .main-header .main-nav a {
        display: flex;
        flex-direction: column;
        height: 70px;
        padding: 0 20px;
        justify-content: center;
        color: var(--clr0);
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        min-height:470px;
    }

    .grid-container .image{
        width: 200px;
        height: 200px;
    }

    .meme-editor {
        padding: 4rem 0;
        display: flex;
        flex-direction: row;
    }

    .canvas-container {
        width: 100%;
        max-width: 500px;
    }

    .edit-container {
        position: relative;
        border-radius: 1em;
        margin: 0 20px;
        background-color: var(--clr1);
        text-align: center;
        width: 35vw;
        overflow: hidden;
    }

    .edit-tools .text-area {
        display: block;
        text-align: center;
        margin: 2rem auto;
        font-size: 1.5rem;
        width: 90%;
    }

    .edit-tools>button {
        font-size: 1.2rem;
    }    
    .hidden{
        display: none;
    }
}

/* desktop */
@media (min-width: 1060px) {
 
    .search-nav{
        display: flex;
    }
    .sticker-container{
        font-size: 3rem;
    }
    .search{
        padding: 0 10px;
    }
}