* {
    box-sizing: border-box;
    color: #040a2c;
    font-family: montserrat;
}

body {
    /* background-color: lightblue; */
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

:root {
    --clr0: #ffffff;
    --clr1: #e3e3e3;
    --clr2: #ff7f00;
}

@font-face {
    font-family: montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: montserrat-thin;
    src: url("/fonts/Montserrat-Thin.ttf");
}


/* header */
.main-header {
    background-color: var(--clr2);
}

.main-header .main-nav a {
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 0 20px;
    justify-content: center;
    color: var(--clr0);
}

/* search-area */

.search-area {
    background-color: lightgray;
    padding: 40px;
}

.search {
    height: 30px;
    width: 250px;
    margin: auto 30px;
}

.search-area .filter-tags a {
    font-size: 18px;
    padding: 0 20px;
    color: var(--clr0);
}

/* main gallery */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    align-content: center;
    /* background-color: lightblue; */
    height: 70%;
    width: 80vw;
    margin: 80px auto;
}

.image {
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.image:hover {
    -webkit-filter: brightness(100%);
}

/* meme editor */
.meme-editor {
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.canvas-container {
    width: 500px;
    height: 500px;
}

.edit-container {
    position: relative;
    border-radius: 1em;
    flex-basis: 50%;
    background-color: var(--clr1);
    text-align: center;
    height: 80vh;
}
.edit-tools .text-area{
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem;
}
.edit-tools > button{ 
    font-size: 1.2rem;
}

/* grid-tools-container */
.grid-tools-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    margin: 20px auto;
    width: 80%;
    height: 150px;
    /* gap: 10px; */
    place-items: center;
    background-color: var(--clr0);
    border: .6px solid black;
}
.grid-tools-container > button {
    padding: 15px 20px;
    height: fit-content;
    width: fit-content;
    font-size: 1.5em;
    border: .6px solid black;
}

.btn{
    cursor: pointer;
    border: none;
    font-size: 1.5em;
}
.back-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.download-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}
.share-btn{
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}



/* footer */
footer {
    display: flex;
    margin-bottom: 0;
    padding: 45px;
    background-color: var(--clr2);
}

/* logo */
.logo {
    padding: 0 20px;
    color: var(--clr0);
}

/* icons */
.icon{
    height: 20px;
    width: 20px;
}

/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}